<!-- Draw the title if provided, if not redirect to default page -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message Block to display if needed -->
<%- messages() %>

<!-- Display errors if needed -->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
   </ul>
<% } %>

<section>
    <h2>Welcome <%= firstName %>!</h2>
    <p>You're logged in.</p>
    <p><a href="../../account/edit">Edit Account Information</a></p>
</section>

<%- managementSection %>
