<!-- Draw the title if provided, if not redirect to default page -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message Block to display if needed -->
<%- messages() %>

<!-- Display errors if needed -->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <% console.log(error.msg); %>
            <% if(error.msg != "Invalid value") { %>
                <li><%= error.msg %></li>
            <% } %>
        <%  }) %>
   </ul>
<% } %>

<!-- Login Form -->
<form id="deleteForm" action="/inv/delete" method="post">

    <p>Confirm Deletion - Deleting an item cannot be undone.</p>

    <label for="inv_make">Make:</label>
    <input type="text" id="inv_make" name="inv_make" placeholder="* Min of 3 characters" required readonly value="<%= locals.inv_make %>">

    <label for="inv_model">Model:</label>
    <input type="text" id="inv_model" name="inv_model" placeholder="* Min of 3 characters" required readonly value="<%= locals.inv_model %>">

    <label for="inv_year">Year:</label>
    <input type="text" id="inv_year" name="inv_year" placeholder="* 4 Digit Year" required readonly value="<%= locals.inv_year %>">

    <label for="inv_price">Price:</label>
    <input type="text" id="inv_price" name="inv_price" placeholder="* Decimal or Integer" required readonly value="<%= locals.inv_price %>">

    <button type="submit" class="action-button">Delete Inventory Item</button>

    <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>

</form>
<ul class="menu-list">
    <li class="menu-item"><a href="../../inv">Back to Menu</a></li>
</ul>