<!-- Draw the title if provided, if not redirect to default page -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message Block to display if needed -->
<%- messages() %>

<!-- Display errors if needed -->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <% console.log(error.msg); %>
            <% if(error.msg != "Invalid value") { %>
                <li><%= error.msg %></li>
            <% } %>
        <%  }) %>
   </ul>
<% } %>


<div class="detail-wrapper">
    <!-- Admin Menu -->
    <%- adminMenu %>

    <!-- Inventory Item Display -->
    <%- detail %>
</div>

<script src="../../js/inv-review.js"></script>