<!-- Draw the title if provided, if not redirect to default page -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message Block to display if needed -->
<%- messages() %>

<!-- Display errors if needed -->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <% console.log(error.msg); %>
            <% if(error.msg != "Invalid value") { %>
                <li><%= error.msg %></li>
            <% } %>
        <%  }) %>
   </ul>
<% } %>

<!-- Login Form -->
<form id="editForm" action="/inv/edit" method="post">
    
    <label for="classification_id">Classification:</label>
    <%- classificationSelect %>

    <label for="inv_make">Make:</label>
    <input type="text" id="inv_make" name="inv_make" placeholder="* Min of 3 characters" required value="<%= locals.inv_make %>">

    <label for="inv_model">Model:</label>
    <input type="text" id="inv_model" name="inv_model" placeholder="* Min of 3 characters" required value="<%= locals.inv_model %>">

    <label for="inv_year">Year:</label>
    <input type="text" id="inv_year" name="inv_year" placeholder="* 4 Digit Year" required value="<%= locals.inv_year %>">

    <label for="inv_description">Description:</label>
    <textarea id="inv_description" name="inv_description" rows="3" placeholder="* Description..." required><%= locals.inv_description %></textarea>

    <label for="inv_image">Image:</label>
    <input type="text" id="inv_image" name="inv_image" placeholder="* Image..." required readonly value="/images/vehicles/no-image.png">

    <label for="inv_thumbnail">Image Thumbnail:</label>
    <input type="text" id="inv_thumbnail" name="inv_thumbnail" placeholder="* Image Thumbnail..." required readonly value="/images/vehicles/no-image-tn.png">

    <label for="inv_price">Price:</label>
    <input type="text" id="inv_price" name="inv_price" placeholder="* Decimal or Integer" required value="<%= locals.inv_price %>">

    <label for="inv_miles">Mileage:</label>
    <input type="text" id="inv_miles" name="inv_miles" placeholder="* Digits only" required value="<%= locals.inv_miles %>">

    <label for="inv_color">Color:</label>
    <input type="text" id="inv_color" name="inv_color" placeholder="* Color..." required value="<%= locals.inv_color %>">

    <button type="submit" class="action-button" disabled>Update Inventory Item</button>

    <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>

</form>
<ul class="menu-list">
    <li class="menu-item"><a href="../../inv">Back to Menu</a></li>
</ul>

<script src="../../js/inv-update.js"></script>